.root {
  * {
    box-sizing: border-box;
    font-family: Nunito, Roboto, system-ui, Tahoma, sans-serif;
  }

  //ЗАИНКА НА СТИЛЯХ!!!!!!!!!!!!!!

  .modal {
    position: relative;
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }

  form {
    position: relative;
    height: 40%;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  input {
    width: 400px;
    display: block;
    margin: 0 auto;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 300;
    padding-left: 30px;
    margin-bottom: 20px;
    transition: all 0.3s;
    &:focus {
      border: 2px solid rgba(0, 0, 0, 0.8);
    }
  }

  p {
    text-align: center;
    font-size: 18px;
  }
  a {
    font-weight: 800;
    text-decoration: none;
    color: #217a10;
  }

  span {
    font-weight: 800;
    text-decoration: none;
    color: #217a10;
    &:hover {
      cursor: pointer;
    }
  }

  img {
    position: absolute;
    top: -85px;
    left: 15px;
  }

  .arrow {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 2rem;
    height: 2rem;
    opacity: 0.7;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
